salesforce-demo/src/main/mule/update-salesforce-record.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-salesforce-recordFlow" doc:id="d4112e63-1aa7-4cfa-9e2c-bde68a3fd08e" >
		<http:listener doc:name="Listener" doc:id="5baba26c-8acc-4df5-836b-83a5787feb30" config-ref="HTTP_Listener_config" path="update"/>
		<salesforce:query doc:name="Query" doc:id="986d674b-39bb-4916-ba1b-31a7f1f88ea5" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Id, AccountNumber, Name, Phone, Description
FROM Account 
WHERE AccountNumber = ':accNumber']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"accNumber" : attributes.queryParams.accNumber
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="364be238-7d0c-4800-be9b-890d00d0cf70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Id: payload[0].Id,
	AccountNumber: "10000",
	Name: "Updated Account",
	Phone: "123455678", 
	Description: "Updated Description"
		
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update doc:name="Update" doc:id="43ad1d29-05eb-495a-8594-eeeec2acfc53" config-ref="Salesforce_Config" type="Account"/>
		<ee:transform doc:name="Transform Message" doc:id="43152ef6-5ca0-475f-ba61-6aa94d123e97" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"Update Success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
